<div class="container d-flex flex-column justify-content-center align-items-center vh-100 px-3">
  <h1 class="mb-4 fw-bold text-center" style="font-size: 3rem; font-weight: bold; font-family: Rivendell;">Desarrollador Frontend</h1>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcyI9Cvp53aaP9XeRn-ZKbJDH2QaWC72O26A&s"
    alt="Foto de perfil" class="mb-4 rounded-circle" width="350" height="350">

  <div class="d-flex flex-wrap justify-content-center">
    <a href="https://www.facebook.com" class="mx-3 social-icon" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=jZ0kw76QEzJU&format=png&color=000000" alt="Facebook" width="65" height="65">
      <span class="tooltip">Facebook</span>
    </a>
    <a href="https://www.linkedin.com/in/hiller-silva-b6746b293/" class="mx-3 social-icon" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=MR3dZdlA53te&format=png&color=000000" alt="LinkedIn" width="65" height="65">
      <span class="tooltip">LinkedIn</span>
    </a>
    <a href="https://github.com/Hiller27" class="mx-3 social-icon" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=efFfwotdkiU5&format=png&color=000000" alt="GitHub" width="65" height="65">
      <span class="tooltip">GitHub</span>
    </a>
    <a href="mailto:hillersilva7&#64;gmail.com?subject=Consulta&body=Hola Buenos dias." class="mx-3 social-icon" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=Iq5AZypojpBD&format=png&color=000000" alt="Gmail" width="65" height="65">
      <span class="tooltip">hillersilva7&#64;gmail.com</span>
    </a>
    <a href="https://wa.me/573158355717?text=Hola Buenos dias." class="mx-3 social-icon" target="_blank">
      <img src="https://img.icons8.com/?size=100&id=A1JUR9NRH7sC&format=png&color=000000" alt="Whatsapp" width="65" height="65">
      <span class="tooltip">+573158355717</span>
    </a>
  </div>
</div>
